.row {
	margin: 0%;
}
.text {
	color:#EEEEEE;
}
a {
	color: #9C9C9C;
}
a:hover {
	color: #EEEEEE;
	text-decoration: none;
}
.background_image {
	position: absolute;
	height:100%;
	width: 100%;
}
.mainpara {
	padding-top: 10%;	
}
hr {
	border-color: #9C9C9C;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}
.link {
	margin-top:50%;
	
}

