.container {
	width: 100%;
}

.img-circle {
	float: right;
	margin-top: 70%;
}

#fixed_div {
	position: absolute;
	top: 0;
	right: 10%;
}

#background_image {
	position: relative;
}
.para {
	position: absolute;
	top: 0;
}
